In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

对玻璃文物表面风化与其玻璃类型，纹饰和颜色的关系进行分析

In [2]:
Data_raw = pd.read_csv('../Data/data1.csv')
Data = Data_raw.iloc[:, 0 : 5]

Data

    文物编号  纹饰  类型  颜色  表面风化
0      1   3   1   2     0
1      2   1   2   4     1
2      3   1   1   2     0
3      4   1   1   2     0
4      5   1   1   2     0
5      6   1   1   2     0
6      7   2   1   2     1
7      8   3   2   8     1
8      9   2   1   2     1
9     10   2   1   2     1
10    11   3   2   4     1
11    12   2   1   2     1
12    13   3   1   4     0
13    14   3   1   7     0
14    15   3   1   4     0
15    16   3   1   4     0
16    17   3   1   4     0
17    18   1   1   6     0
18    19   1   2   0     1
19    20   1   2   4     0
20    21   1   1   2     0
21    22   2   1   2     1
22    23   1   2   2     1
23    24   3   2   8     0
24    25   3   2   4     1
25    26   3   2   8     1
26    27   2   1   2     1
27    28   1   2   4     1
28    29   1   2   4     1
29    30   1   2   6     0
30    31   3   2   8     0
31    32   3   2   5     0
32    33   3   2   7     0
33    34   3   2   7     1
34    35   3   2   5     0
35    36   3   2   7     1
36    37   3   2   7     0
37    38   3   2   7     1
38    39   3   2   7     1
39    40   3   2   0     1
40    41   3   2   5     1
41    42   1   2   4     1
42    43   3   2   4     1
43    44   1   2   4     1
44    45   1   2   4     0
45    46   1   2   4     0
46    47   1   2   4     0
47    48   1   2   0     1
48    49   1   2   1     1
49    50   1   2   1     1
50    51   3   2   4     1
51    52   3   2   4     1
52    53   1   2   4     1
53    54   3   2   4     1
54    55   3   2   3     0
55    56   3   2   2     1
56    57   3   2   2     1
57    58   3   2   0     1

高钾玻璃中，纹饰对表面风化的影响
提取所有的高钾玻璃

In [3]:
Data_high_potassium = Data.loc[Data['类型'] == 1,
                               ['文物编号', '纹饰', '类型', '颜色', '表面风化']]

Data_high_potassium.to_excel('../Q1_answer/Q1_1/Hp/Hp-W.xlsx')

In [4]:
Data_high_potassium

    文物编号  纹饰  类型  颜色  表面风化
0      1   3   1   2     0
2      3   1   1   2     0
3      4   1   1   2     0
4      5   1   1   2     0
5      6   1   1   2     0
6      7   2   1   2     1
8      9   2   1   2     1
9     10   2   1   2     1
11    12   2   1   2     1
12    13   3   1   4     0
13    14   3   1   7     0
14    15   3   1   4     0
15    16   3   1   4     0
16    17   3   1   4     0
17    18   1   1   6     0
20    21   1   1   2     0
21    22   2   1   2     1
26    27   2   1   2     1

In [5]:
weathering = 0
non_weathering = 0

for i in Data_high_potassium['表面风化']:
    if i == 0:
        non_weathering += 1
    else:
        weathering += 1

weathering_rate = weathering / Data_high_potassium.shape[0]
non_weathering_rate = non_weathering / Data_high_potassium.shape[0]

weathering_rate, non_weathering_rate

(0.3333333333333333, 0.6666666666666666)

高钾玻璃中既有表面风化也有未风化

高钾玻璃中，纹饰对风化对影响

In [6]:
Data_decorate_1 = Data_high_potassium.loc[Data_high_potassium['纹饰'] == 1,
                                            ['文物编号', '纹饰', '类型', '颜色', '表面风化']]

Data_decorate_1.to_excel('../Q1_answer/Q1_1/Hp/decorateA-W.xlsx')
Data_decorate_1

    文物编号  纹饰  类型  颜色  表面风化
2      3   1   1   2     0
3      4   1   1   2     0
4      5   1   1   2     0
5      6   1   1   2     0
17    18   1   1   6     0
20    21   1   1   2     0

In [7]:
Data_decorate_2 = Data_high_potassium.loc[Data_high_potassium['纹饰'] == 2,
                                            ['文物编号', '纹饰', '类型', '颜色', '表面风化']]

Data_decorate_2.to_excel('../Q1_answer/Q1_1/Hp/decorateB-W.xlsx')

In [8]:
Data_decorate_3 = Data_high_potassium.loc[Data_high_potassium['纹饰'] == 3,
                                            ['文物编号', '纹饰', '类型', '颜色', '表面风化']]

Data_decorate_3.to_excel('../Q1_answer/Q1_1/Hp/decorateC-W.xlsx')

可以看到，对于高钾玻璃，纹饰A，C中均未被风化，而B中全被风化，所以可以判断，纹饰对高钾玻璃的风化程度有影响

高钾玻璃中，颜色对表面风化的影响

In [9]:
Data_color_2 = Data_high_potassium.loc[Data_high_potassium['颜色'] == 2,
                                            ['文物编号', '纹饰', '类型', '颜色', '表面风化']]

Data_color_2.to_excel('../Q1_answer/Q1_1/Hp/color2-W.xlsx')

In [10]:
Data_color_4 = Data_high_potassium.loc[Data_high_potassium['颜色'] == 4,
                                            ['文物编号', '纹饰', '类型', '颜色', '表面风化']]

Data_color_4.to_excel('../Q1_answer/Q1_1/Hp/color4-W.xlsx')

In [11]:
Data_color_6 = Data_high_potassium.loc[Data_high_potassium['颜色'] == 6,
                                            ['文物编号', '纹饰', '类型', '颜色', '表面风化']]

Data_color_6.to_excel('../Q1_answer/Q1_1/Hp/color6-W.xlsx')

In [12]:
Data_color_7 = Data_high_potassium.loc[Data_high_potassium['颜色'] == 7,
                                            ['文物编号', '纹饰', '类型', '颜色', '表面风化']]

Data_color_7.to_excel('../Q1_answer/Q1_1/Hp/color7-W.xlsx')

In [13]:
Data_color_8 = Data_high_potassium.loc[Data_high_potassium['颜色'] == 8,
                                            ['文物编号', '纹饰', '类型', '颜色', '表面风化']]

Data_color_8

Empty DataFrame
Columns: [文物编号, 纹饰, 类型, 颜色, 表面风化]
Index: []

可以看到，蓝绿色中既有风化也有未风化，但其他颜色中只存在未风化玻璃。但同时考虑到其他颜色数据量远远小于蓝绿色，所以可信度较低。因此可以认为颜色对玻璃的风化并无影响

Bp

In [14]:
Data_Pb = Data.loc[Data['类型'] == 2,
                               ['文物编号', '纹饰', '类型', '颜色', '表面风化']]
Data_Pb

    文物编号  纹饰  类型  颜色  表面风化
1      2   1   2   4     1
7      8   3   2   8     1
10    11   3   2   4     1
18    19   1   2   0     1
19    20   1   2   4     0
22    23   1   2   2     1
23    24   3   2   8     0
24    25   3   2   4     1
25    26   3   2   8     1
27    28   1   2   4     1
28    29   1   2   4     1
29    30   1   2   6     0
30    31   3   2   8     0
31    32   3   2   5     0
32    33   3   2   7     0
33    34   3   2   7     1
34    35   3   2   5     0
35    36   3   2   7     1
36    37   3   2   7     0
37    38   3   2   7     1
38    39   3   2   7     1
39    40   3   2   0     1
40    41   3   2   5     1
41    42   1   2   4     1
42    43   3   2   4     1
43    44   1   2   4     1
44    45   1   2   4     0
45    46   1   2   4     0
46    47   1   2   4     0
47    48   1   2   0     1
48    49   1   2   1     1
49    50   1   2   1     1
50    51   3   2   4     1
51    52   3   2   4     1
52    53   1   2   4     1
53    54   3   2   4     1
54    55   3   2   3     0
55    56   3   2   2     1
56    57   3   2   2     1
57    58   3   2   0     1

In [15]:
Data_Pb.to_excel('../Q1_answer/Q1_1/Bp/Bp_data.xlsx')

In [16]:
Data_decorate_1_Pb = Data_Pb.loc[Data_Pb['纹饰'] == 1,
                                            ['文物编号', '纹饰', '类型', '颜色', '表面风化']]

Data_decorate_1_Pb.to_excel('../Q1_answer/Q1_1/Bp/decorateA-W.xlsx')

In [17]:
Data_decorate_2_Pb = Data_Pb.loc[Data_Pb['纹饰'] == 2,
                                            ['文物编号', '纹饰', '类型', '颜色', '表面风化']]

Data_decorate_2_Pb.to_excel('../Q1_answer/Q1_1/Bp/decorateB-W.xlsx')

In [18]:
Data_decorate_3_Pb = Data_Pb.loc[Data_Pb['纹饰'] == 3]

Data_decorate_3_Pb.to_excel('../Q1_answer/Q1_1/Bp/decorateC-W.xlsx')

In [19]:
for i in range(1, 8):
    temp = Data_Pb.loc[Data_Pb['颜色'] == i]
    temp.to_excel(f'../Q1_answer/Q1_1/Bp/color{i}-W.xlsx')